.session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 40px 30px;
  margin-right: 33px;
  position: relative;
  z-index: 1;
}

.session-form-container {
  background-color: whitesmoke;
  padding: 2rem;
  border-radius: 1rem;
  align-self: self-end;
  margin-right: 8rem;
  margin-top: 4rem;
  height: 100%;
}

.session-form-input {
  margin-bottom: 12px;
  height: 2.5rem;
  width: 16rem;
  padding-left: 0.5rem;
  font-size: 1rem;
}

.session-form label {
  display: flex;
  flex-direction: column;
}
.session-form input {
  border-radius: 5px;
  border: 1px solid black;
}

.session-form-submit {
  width: 240px;
  height: 38px;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 8px;
  border-style: solid;
  border-color: #2d3958;
  background-color: #2d3958;
  color: white;
  cursor: pointer;
}

.errors > p {
  color: red !important;
}
